.sidebar{
    background-color: #212529;
    color: aliceblue;
    height: 100vh;
}

.side-items{  
        justify-content: center;
        height: 55vh;
   
}
.side-items a div{
    height: 45px;
    padding: 0;
}



/* admin style  */
.sidebar {
    height: 660px;
    width: 100%; 
  }
  
  .admin-side-text { 
    
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
  
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-side-text:hover {
    background-color: #272727;
    color: white;
    font-size: 14px;
  }
  .admin-content-text {
    color: #555550;
    font-family: Almarai;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    
  }
  .item-delete-edit {
    color: #979797;
    
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    
    cursor: pointer;
  }
  
  .text-form {
    color: #979797;
    
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    
  }
  .input-form {
    height: 37px;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .input-form-area {
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .select {
    box-sizing: border-box;
    height: 40px;
    color: #979797;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
  }
  .btn-save {
    border: none;
    color: white;
    height: 46px;
    width: 150px;
    border-radius: 9px;
    background-color: #272727;
  }
  .btn-save:hover {
    color: rgb(164, 164, 164);
  }
  .btn-a {
    border: none;
    color: white;
    height: 45px;
    border-radius: 9px;
    background-color: #272727;
  }
  .btn-a:hover {
    color: rgb(164, 164, 164);
  }
  .sidebar {
    background-color: #212529;
    color: aliceblue;
    height: 100vh;
    width: 250px; /* Set initial width */
}

.side-items {
    justify-content: center;
    height: 55vh;
}

.side-items a div {
    height: 45px;
    padding: 0;
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 200px; /* Adjust width for smaller screens */
    }
}

@media only screen and (max-width: 992px) {
    .sidebar {
        width: 150px; /* Further adjust width for even smaller screens */
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none; /* Hide sidebar on screens smaller than 768px */
    }
}
